# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundle artifact
*.jsbundle
vendor/

# Ruby / CocoaPods
Pods/
/vendor/bundle/
*.gem
.env

# Metro
.metro-health-check*

# Debug
.vscode/
*.log

# Testing
/coverage
__tests__

# Temporary files
*.swp
*.swo
*~

# iOS build
ios/build/

# Android build
android/app/build/
android/build/

# Watchman
.watchmanconfig

# React Native
.expo/
.env.local
.env.development.local
.env.test.local
.env.production.local
